{% extends 'base.html' %}

{% block title %}
Resources
{% endblock %}

{% block content %}
<div class="resources-container">
    <h1>Resources</h1>
    <h2>Stock Data Breakdown</h2>
    <form id="tickerForm" onsubmit="return setURL(this)">
        <label for="ticker">Enter Stock Ticker to View Data:</label>
        <input type="text" id="ticker" name="ticker" required>
        <button type="submit">Go</button>
    </form>
    <h2>Financial Terms</h2>
    <a href="{{ url_for('vocabulary_page') }}" class="vocab-link">Go to Vocabulary</a>
</div>
<script>
    function setURL(form){
        var ticker = document.getElementById('ticker').value;
        form.action = '/stock_data/' + ticker;
    }
</script>
{% endblock %}