{% extends 'base.html' %}

{% block title %}
Stock Chart for {{ ticker }}
{% endblock %}

{% block content %}
<div class="stock-data">
    <h1>Stock Data for {{ ticker }}</h1>
    <p>Open: ${{ stock['o'] }} - The price at which the stock first trades upon the opening of an exchange on a trading day.</p>
    <p>Close: ${{ stock['c'] }} - The final price at which the stock is traded on a given trading day.</p>
    <p>High: ${{ stock['h'] }} - The highest price at which the stock traded during the trading day.</p>
    <p>Low: ${{ stock['l'] }} - The lowest price at which the stock traded during the trading day.</p>
    <p>Volume: {{ stock['v'] }} - The total number of shares of the stock traded during a given period.</p>
</div>
{% endblock %}